In [64]:
# Upgrade Oracle ADS to pick up latest features and maintain compatibility with Oracle Cloud Infrastructure.

!pip install -U oracle-ads
!pip install --upgrade oci

Requirement already satisfied: oracle-ads in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (2.8.6)
Requirement already satisfied: pandas<1.6,>1.2.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.4.4)
Requirement already satisfied: python-jsonschema-objects>=0.3.13 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (0.4.1)
Requirement already satisfied: numpy>=1.19.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.23.3)
Requirement already satisfied: PyYAML<6,>=5.4 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (5.4.1)
Requirement already satisfied: cloudpickle>=1.6.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (2.0.0)
Requirement already satisfied: tqdm>=4.59.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (4.64.1)
Requirement already satisfied: matplotlib>=3.1.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (3.5.2)
Requirement already satisfied: fsspec>=0.8.7 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (2022.7.1)
Requirement already satisfied: gitpython>=3.1.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (3.1.18)
Requirement already satisfied: oci>=2.102.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (2.104.2)
Requirement already satisfied: tabulate>=0.8.9 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (0.8.10)
Requirement already satisfied: psutil>=5.7.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (5.9.0)
Requirement already satisfied: cerberus>=1.3.4 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.3.4)
Requirement already satisfied: jinja2>=2.11.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (3.0.3)
Requirement already satisfied: asteval>=0.9.25 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (0.9.27)
Requirement already satisfied: requests in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (2.28.1)
Requirement already satisfied: ocifs>=1.1.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.1.3)
Requirement already satisfied: scikit-learn<1.2,>=0.23.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oracle-ads) (1.1.2)
Requirement already satisfied: setuptools in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cerberus>=1.3.4->oracle-ads) (65.5.1)
Requirement already satisfied: gitdb<5,>=4.0.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from gitpython>=3.1.2->oracle-ads) (4.0.9)
Requirement already satisfied: MarkupSafe>=2.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from jinja2>=2.11.2->oracle-ads) (2.0.1)
Requirement already satisfied: packaging>=20.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (9.2.0)
Requirement already satisfied: cycler>=0.10 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from matplotlib>=3.1.3->oracle-ads) (4.38.0)
Requirement already satisfied: circuitbreaker<2.0.0,>=1.3.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.102.0->oracle-ads) (1.4.0)
Requirement already satisfied: pyOpenSSL<24.0.0,>=17.5.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.102.0->oracle-ads) (22.0.0)
Requirement already satisfied: pytz>=2016.10 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.102.0->oracle-ads) (2022.6)
Requirement already satisfied: cryptography<40.0.0,>=3.2.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.102.0->oracle-ads) (37.0.2)
Requirement already satisfied: certifi in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci>=2.102.0->oracle-ads) (2022.9.24)
Requirement already satisfied: jsonschema>=2.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python-jsonschema-objects>=0.3.13->oracle-ads) (4.7.2)
Requirement already satisfied: Markdown>=2.4 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python-jsonschema-objects>=0.3.13->oracle-ads) (3.4.1)
Requirement already satisfied: inflection>=0.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python-jsonschema-objects>=0.3.13->oracle-ads) (0.5.1)
Requirement already satisfied: six>=1.5.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python-jsonschema-objects>=0.3.13->oracle-ads) (1.16.0)
Requirement already satisfied: scipy>=1.3.2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from scikit-learn<1.2,>=0.23.2->oracle-ads) (1.9.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from scikit-learn<1.2,>=0.23.2->oracle-ads) (3.1.0)
Requirement already satisfied: joblib>=1.0.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from scikit-learn<1.2,>=0.23.2->oracle-ads) (1.0.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from requests->oracle-ads) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from requests->oracle-ads) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from requests->oracle-ads) (3.4)
Requirement already satisfied: cffi>=1.12 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cryptography<40.0.0,>=3.2.1->oci>=2.102.0->oracle-ads) (1.14.6)
Requirement already satisfied: smmap<6,>=3.0.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.2->oracle-ads) (3.0.5)
Requirement already satisfied: importlib-resources>=1.4.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from jsonschema>=2.3->python-jsonschema-objects>=0.3.13->oracle-ads) (5.10.0)
Requirement already satisfied: attrs>=17.4.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from jsonschema>=2.3->python-jsonschema-objects>=0.3.13->oracle-ads) (22.1.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from jsonschema>=2.3->python-jsonschema-objects>=0.3.13->oracle-ads) (0.19.2)
Requirement already satisfied: importlib-metadata>=4.4 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from Markdown>=2.4->python-jsonschema-objects>=0.3.13->oracle-ads) (5.0.0)
Requirement already satisfied: pycparser in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cffi>=1.12->cryptography<40.0.0,>=3.2.1->oci>=2.102.0->oracle-ads) (2.21)
Requirement already satisfied: zipp>=0.5 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from importlib-metadata>=4.4->Markdown>=2.4->python-jsonschema-objects>=0.3.13->oracle-ads) (3.10.0)
Requirement already satisfied: oci in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (2.104.2)
Requirement already satisfied: python-dateutil<3.0.0,>=2.5.3 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (2.8.2)
Requirement already satisfied: circuitbreaker<2.0.0,>=1.3.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (1.4.0)
Requirement already satisfied: certifi in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (2022.9.24)
Requirement already satisfied: cryptography<40.0.0,>=3.2.1 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (37.0.2)
Requirement already satisfied: pytz>=2016.10 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (2022.6)
Requirement already satisfied: pyOpenSSL<24.0.0,>=17.5.0 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from oci) (22.0.0)
Requirement already satisfied: cffi>=1.12 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cryptography<40.0.0,>=3.2.1->oci) (1.14.6)
Requirement already satisfied: six>=1.5 in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from python-dateutil<3.0.0,>=2.5.3->oci) (1.16.0)
Requirement already satisfied: pycparser in /home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages (from cffi>=1.12->cryptography<40.0.0,>=3.2.1->oci) (2.21)

In [88]:
# 필요 라이브러리 Import

import ads
import logging
import os
import tempfile
import warnings
import json
import base64
import numpy as np
import pandas as pd
import nltk
nltk.download('omw-1.4')
import joblib

import ocifs
import oci
from ocifs import OCIFileSystem

from ads.catalog.model import ModelCatalog
from ads.common.model_metadata import UseCaseType
from ads.common.model_artifact import ModelArtifact
from ads.common.model_export_util import prepare_generic_model
from ads.model.framework.sklearn_model import SklearnModel

from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.feature_extraction.text import CountVectorizer

from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /home/datascience/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

<font color=gray>Oracle Data Science service sample notebook.

Copyright (c) 2023 Oracle, Inc.  All rights reserved.
Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl.
</font>

***
# <font color=red>Sklearn으로 만들 모델 배포하기</font>
<p style="margin-left:10%; margin-right:10%;">by the <font color=teal> Oracle Cloud Infrastructure Data Science Service Team </font></p>

***

## Overview:

Accelerated Data Science(ADS)의 'SklearnModel' 클래스는 모델을 신속하게 생성하고 배포할 수 있도록 설계되었습니다. 
- `.prepare()` 메서드는 모델을 구성하거나 코드를 작성할 필요 없이 작동하는 모델을 배포하는 데 필요한 모델 아티팩트를 생성합니다. 
- `score.py` 파일은 필요에 따라 사용자 정의할 수 있습니다. 
- `.verify()` 메서드를 사용하여 배포된 모델에 대한 호출을 시뮬레이션합니다. 이 메서드는 `score.py` 파일에서 `load_model()` 및 `predict()` 함수를 호출합니다. `.verify()`를 사용하면 모델을 배포하지 않고도 `score.py` 파일을 디버그할 수 있습니다. 
- `.save()` 메서드는 `SklearnModel` 및 모델 아티팩트를 모델 카탈로그로 푸시합니다. 
- `.deploy()` 메서드는 모델을 REST 끝점에 배포합니다. 
- `.predict()` 메서드를 사용하면 엔드포인트를 호출하여 모델 추론을 수행할 수 있습니다.

---

<a id='intro'></a>
# Introduction

## Authenticate

OCI Data Science 서비스에 대한 인증이 필요합니다. 여기서는 기본적으로 resource principal을 사용합니다.

In [89]:
ads.set_auth(auth="resource_principal")

<a id="intro_dataset"></a>
## Create Dataset

In [90]:
# ADW 있는 크롤링 데이터 import
# 한국어 및 테스트 데이터 삭제 
# nan과 null 데이터 처리를 위해 desc열만 dataframe으로 변환 
#crawled_parquet_df = pd.read_json("oci://crawled_data@apackrsct01/enhanced_livelabs.json")

connection_parameters = {
    "user_name": "admin",
    "password": "Welcome123456!",
    "service_name": "o0mqv2sevcx6gmh9_low",
    "wallet_location": "./Wallet_O0MQV2SEVCX6GMH9.zip",
}

crawled_parquet_df = pd.DataFrame.ads.read_sql(
    """
    SELECT
    *
    FROM
    LIVELABS
    """,
    connection_parameters=connection_parameters,
)

df_final=crawled_parquet_df.drop([402,409,462,774,788])
df_final1 = pd.DataFrame({'document':df_final.DESCRIPTION})
df_final2 = df_final1.dropna()
df_final3 = df_final2[df_final2['document'].astype(bool)]
crawled_final = list(df_final3.document.values)

In [91]:
# CountVectorizer로 벡터화기 구현
# 최종 데이터 crwaled_final을 transform 후 LDA 알고리즘으로 Topic Modeling 생성

lemm = WordNetLemmatizer()

class LemmaCountVectorizer(CountVectorizer):
    def build_analyzer(self):
        analyzer = super(LemmaCountVectorizer, self).build_analyzer()
        return lambda doc: (lemm.lemmatize(w) for w in analyzer(doc))
    
tf_vectorizer = LemmaCountVectorizer(max_df=0.95, 
                                     min_df=2,
                                     stop_words='english',
                                     decode_error='ignore')

tf = tf_vectorizer.fit_transform(crawled_final)

lda = LatentDirichletAllocation(n_components=15, max_iter=10,
                                learning_method = 'online',
                                learning_offset = 10.,
                                random_state = 0)
lda.fit(tf)

LatentDirichletAllocation(learning_method='online', n_components=15,
                          random_state=0)

In [92]:
#Topic modeling data 결과

doc_topics=lda.transform(tf)

topic_index=list(df_final3.index.values)
topic_names = ['Topic #'+str(i) for i in range(0,15)]
topic_df = pd.DataFrame(data=doc_topics, columns=topic_names,index=topic_index)

dominant_topic = np.argmax(topic_df.values, axis=1)
topic_df['dominant_topic'] = dominant_topic
topic_df.head(20)

,Topic #0,Topic #1,Topic #2,Topic #3,Topic #4,Topic #5,Topic #6,Topic #7,Topic #8,Topic #9,Topic #10,Topic #11,Topic #12,Topic #13,Topic #14,dominant_topic
0,0.001212,0.001212,0.342298,0.001212,0.066917,0.001212,0.001212,0.001212,0.576240,0.001212,0.001212,0.001212,0.001212,0.001212,0.001212,8
1,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.967816,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,6
2,0.002299,0.002299,0.368516,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.002299,0.601599,0.002299,13
3,0.001058,0.001058,0.431515,0.001058,0.001058,0.001058,0.001058,0.001058,0.001058,0.001058,0.001058,0.554728,0.001058,0.001058,0.001058,11
4,0.003922,0.003922,0.003922,0.945098,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,0.003922,3
5,0.001626,0.855744,0.001626,0.001626,0.001626,0.001626,0.001626,0.001626,0.123117,0.001626,0.001626,0.001626,0.001626,0.001626,0.001626,1
6,0.001587,0.001587,0.924590,0.001587,0.001587,0.001587,0.001587,0.054775,0.001587,0.001587,0.001587,0.001587,0.001587,0.001587,0.001587,2
7,0.002083,0.002083,0.002083,0.363517,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.609400,0.002083,13
8,0.003509,0.003509,0.614266,0.003509,0.340120,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,0.003509,2
9,0.002381,0.002381,0.002381,0.276320,0.002381,0.002381,0.002381,0.002381,0.692728,0.002381,0.002381,0.002381,0.002381,0.002381,0.002381,8
10,0.001130,0.001130,0.150675,0.001130,0.001130,0.001130,0.834635,0.001130,0.001130,0.001130,0.001130,0.001130,0.001130,0.001130,0.001130,6
11,0.001626,0.001626,0.001626,0.341659,0.001626,0.001626,0.001626,0.001626,0.129760,0.001626,0.001626,0.001626,0.001626,0.509068,0.001626,13
12,0.002778,0.002778,0.002778,0.812004,0.002778,0.151884,0.002778,0.002778,0.002778,0.002778,0.002778,0.002778,0.002778,0.002778,0.002778,3
13,0.002083,0.002083,0.002083,0.638358,0.002083,0.002083,0.002083,0.002083,0.334559,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,3
14,0.330987,0.006667,0.006667,0.499252,0.006667,0.006667,0.006667,0.089761,0.006667,0.006667,0.006667,0.006667,0.006667,0.006667,0.006667,3
15,0.003175,0.003175,0.955555,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,0.003175,2
16,0.124358,0.003704,0.721085,0.003704,0.003704,0.003704,0.003704,0.110113,0.003704,0.003704,0.003704,0.003704,0.003704,0.003704,0.003704,2
17,0.002083,0.002083,0.970833,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,0.002083,2
18,0.005556,0.005556,0.551751,0.250325,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.005556,0.131257,0.005556,0.005556,0.005556,2
19,0.009524,0.009524,0.763379,0.009524,0.009524,0.009524,0.009524,0.112812,0.009524,0.009524,0.009524,0.009524,0.009524,0.009524,0.009524,2

In [93]:
X=topic_df.drop(['dominant_topic'],axis=1)
y=topic_df['dominant_topic']

In [94]:
#importing train_test_split
from sklearn.model_selection import train_test_split
trainx, trainy, testx, testy = train_test_split(X,y)

## 모델 생성

In [95]:
model = KMeans(
     init="random",
     n_clusters=15,
     n_init=10,
     max_iter=300,
     random_state=42
 )

model.fit(trainx)

KMeans(init='random', n_clusters=15, random_state=42)

## 모델 준비

데이터를 위한 임시 디렉토리를 생성하고 .prepare() 실행을 통해 아피팩트를 생성해줍니다.

In [96]:
artifact_dir = tempfile.mkdtemp()

sklearn_model = SklearnModel(estimator=model, artifact_dir=artifact_dir)

sklearn_model.prepare(
    inference_conda_env="generalml_p38_cpu_v1",
    training_conda_env="generalml_p38_cpu_v1",
    use_case_type=UseCaseType.CLUSTERING,
    X_sample=trainx,
    y_sample=trainy,
    force_overwrite=True,
)

WARNING:ads.common:In the future model input will be serialized by `cloudpickle` by default. Currently, model input are serialized into a dictionary containing serialized input data and original data type information.Set `model_input_serializer="cloudpickle"` to use cloudpickle model input serializer.
WARNING:py.warnings:/home/datascience/conda/generalml_p38_cpu_v1/lib/python3.8/site-packages/ads/model/runtime/env_info.py:92: UserWarning: slug will be deprecated. Provide conda pack path instead.s]
  warnings.warn("slug will be deprecated. Provide conda pack path instead.")

algorithm: KMeans
artifact_dir:
  /tmp/tmp0hs4cm93:
  - - score.py
    - model.joblib
    - input_schema.json
    - output_schema.json
    - .model-ignore
    - runtime.yaml
framework: scikit-learn
model_deployment_id: null
model_id: null

In [97]:
sklearn_model.summary_status()

                                                                            Actions Needed
Step      Status        Details
initiate  Done          Initiated the model
prepare() Done          Generated runtime.yaml
                        Generated score.py
                        Serialized model
                        Populated metadata(Custom, Taxonomy and Provenance)
verify()  Available     Local tested .predict from score.py
save()    Available     Conducted Introspect Test
                        Uploaded artifact to model catalog
deploy()  UNKNOWN       Deployed the model
predict() Not Available Called deployment predict endpoint

## Verify

verify 메서드는 artifact_dir의 ``score.py`` 내부에 정의된 ``predict`` 함수를 호출합니다.

In [98]:
sklearn_model.verify(trainx[:10])

Start loading model.joblib from model directory /tmp/tmp0hs4cm93 ...
Model is successfully loaded.

{'prediction': [4, 5, 12, 9, 14, 3, 4, 13, 10, 5]}

## Save

In [99]:
sklearn_model.save(display_name="model-minjikim")

Start loading model.joblib from model directory /tmp/tmp0hs4cm93 ...
Model is successfully loaded.
['score.py', 'model.joblib', 'input_schema.json', 'output_schema.json', '.model-ignore', 'runtime.yaml']

loop1:   0%|          | 0/4 [00:00<?, ?it/s]

'ocid1.datasciencemodel.oc1.ap-seoul-1.amaaaaaavsea7yiahnyym4ya5dzxwu76u7wm7uutjuk5degdue4zn4du4e5a'

In [100]:
sklearn_model.summary_status()

                                                                            Actions Needed
Step      Status        Details
initiate  Done          Initiated the model
prepare() Done          Generated runtime.yaml
                        Generated score.py
                        Serialized model
                        Populated metadata(Custom, Taxonomy and Provenance)
verify()  Done          Local tested .predict from score.py
save()    Done          Conducted Introspect Test
                        Uploaded artifact to model catalog
deploy()  UNKNOWN       Deployed the model
predict() Not Available Called deployment predict endpoint

## Deploy

모델이 모델 카탈로그에 있으면 모델의 `.deploy()` 메서드를 사용하여 배포할 수 있습니다. 
이 방법을 사용하면 표시 이름, 설명, 인스턴스 유형 및 개수, 최대 대역폭, 로깅 그룹과 같은 배포 속성을 지정할 수 있습니다. 
다음 셀은 사용자 지정 표시 이름을 제외한 기본 설정으로 모델을 배포합니다. 
`.deploy()` 메서드는 `ModelDeployment` 개체를 반환합니다.

In [101]:
deploy = sklearn_model.deploy(
    display_name="deployment-minjikim",
)

loop1:   0%|          | 0/6 [00:00<?, ?it/s]

In [79]:
sklearn_model.summary_status()

                                                                        Actions Needed
Step      Status    Details
initiate  Done      Initiated the model
prepare() Done      Generated runtime.yaml
                    Generated score.py
                    Serialized model
                    Populated metadata(Custom, Taxonomy and Provenance)
verify()  Done      Local tested .predict from score.py
save()    Done      Conducted Introspect Test
                    Uploaded artifact to model catalog
deploy()  ACTIVE    Deployed the model
predict() Available Called deployment predict endpoint

In [80]:
print(f"Endpoint: {sklearn_model.model_deployment.url}")

Endpoint: https://modeldeployment.ap-seoul-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-seoul-1.amaaaaaavsea7yiarnec24xbqywu6yrjupawia76df7ghstihbbvxwrkcjyq

# Invoke & Predict 

이번 단계에서는 모델 엔드포인트를 호출하여 Sample Data에 대한 예측 결과를 확인해봅니다.

In [81]:
import requests
import oci
from oci.signer import Signer

auth = oci.auth.signers.get_resource_principals_signer()

아래 셀을 실행하기 전에 모델 배포의 URI를 복사하여 붙여넣으세요. Model Deployment의 세부 정보 페이지의 **Resources** 메뉴에서 **"Invoking your model"**을 클릭합니다. 모델의 HTTP 끝점을 찾을 수 있습니다.

In [82]:
#uri = f"<replace-with-your-model-deployment-uri"
uri = f"https://modeldeployment.ap-seoul-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-seoul-1.amaaaaaavsea7yiarnec24xbqywu6yrjupawia76df7ghstihbbvxwrkcjyq/predict"
print(uri)

https://modeldeployment.ap-seoul-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-seoul-1.amaaaaaavsea7yiarnec24xbqywu6yrjupawia76df7ghstihbbvxwrkcjyq/predict

In [83]:
sample = ["I want to learn MACHINE LEARNING on HEATWAVE"]
sample_vec = tf_vectorizer.transform(sample)
topic_probability_scores = lda.transform(sample_vec)

input_data = pd.DataFrame(topic_probability_scores).to_json()

In [84]:
%%time
response = requests.post(uri, json=input_data, auth=auth)

CPU times: user 18 ms, sys: 826 µs, total: 18.8 ms
Wall time: 262 ms

상태 코드를 살펴보겠습니다.

In [85]:
assert response.status_code == 200, 'Error'

그리고 호출한 모델을 사용한 예측 결과입니다.

In [86]:
print(json.loads(response.content))

{'prediction': [14]}

In [87]:
data_points_in_cluster = trainx[model.labels_ == json.loads(response.content)['prediction']]
indices = data_points_in_cluster.index

for index in indices:
    print(crawled_parquet_df.loc[index])
    print( )

id                                                                                                                                                                                                                                                                                                                                                                3306
title                                                                                                                                                                                                                                                                                                                 Get started with MySQL HeatWave Machine Learning
url                                                                                                                                                                                                                                                                                    https://apexapps.oracle.com/pls/apex/r/dbpm/livelabs/run-workshop?p210_wid=3306
type                                                                                                                                                                                                                                                                                                                                                          Hands-on
desc              In this workshop, users will learn to implement the "Iris Flowers" project with  HeatWave Machine Learning (ML). This project is also known as the Hello World version of Machine Learning. The user will create a HeatWave MySQL database system and build a predictive machine learning model using the Machine Learning capabilities of HeatWave.
duration                                                                                                                                                                                                                                                                                                                                                       2 hours
published_time                                                                                                                                                                                                                                                                                                                                     2021-03-17 12:28:07
title_ko                                                                                                                                                                                                                                                                                                                                     MySQL HeatWave 머신 러닝 시작하기
desc_ko                                                                                                                                                                 이 워크샵에서는 HeatWave ML(머신 러닝)을 사용하여 "Iris Flowers" 프로젝트를 구현하는 방법을 배웁니다. 이 프로젝트는 Hello World 버전의 머신 러닝이라고도 합니다. 사용자는 HeatWave MySQL 데이터베이스 시스템을 생성하고 HeatWave의 머신 러닝 기능을 사용하여 예측 머신 러닝 모델을 구축합니다.
duration_ko                                                                                                                                                                                                                                                                                                                                                        2시간
oci_products                                                                                                                                                                                                                                                                            hello world,heatwave,heatwave mysql,heatwave machine learning,machine learning
key_phrase                                                                                                                                       mysql heatwave machine learningin,iris flowers,heatwave machine learning,hello world version,machine learning,heatwave mysql database system,predictive machine learning model,machine learning capabilities,users,ml
Name: 548, dtype: object

id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              586
title                                                                                                                                                                                                                                                                                                                                                                                                                                            Introduction to Machine Learning Algorithms on ADB
url                                                                                                                                                                                                                                                                                                                                                                                                                  https://apexapps.oracle.com/pls/apex/r/dbpm/livelabs/run-workshop?p210_wid=586
type                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Hands-on
desc              In this workshop you will explore the Oracle Machine Learning (OML) SQL notebook application provided with your Autonomous Data Warehouse. This browser-based application provides a web interface to run SQL queries and scripts, which can be grouped together within a notebook. Notebooks can be used to build single reports, collections of reports, and even dashboards. OML provides a simple way to share workbooks, and collections of workbooks, with other OML users.
duration                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 45 minutes
published_time                                                                                                                                                                                                                                                                                                                                                                                                                                                                  2017-09-16 21:09:56
title_ko                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ADB의 머신 러닝 알고리즘 소개
desc_ko                                                                                                                                                                                                 이 워크샵에서는 Autonomous Data Warehouse와 함께 제공되는 OML(Oracle Machine Learning) SQL 노트북 애플리케이션을 살펴봅니다. 이 브라우저 기반 응용 프로그램은 노트북 내에서 함께 그룹화할 수 있는 SQL 질의 및 스크립트를 실행하기 위한 웹 인터페이스를 제공합니다. 노트북은 단일 보고서, 보고서 모음 및 대시보드(Dashboard)를 작성하는 데 사용할 수 있습니다. OML은 다른 OML 사용자와 워크북 및 워크북 모음을 공유하는 간단한 방법을 제공합니다.
duration_ko                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    45분후
oci_products                                                                                                                                                                                                                                                                                                                                                                                                                                            notebook,dashboards,sql,notebooks,workbooks
key_phrase                                                                                                                                                                                                                                                                             oml,machine learning algorithms,oracle machine learning,sql notebook application,autonomous data warehouse,browser-based application,web interface,queries and scripts,single reports,collections of reports
Name: 11, dtype: object

id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         882
title                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         Get started with MySQL HeatWave to turbocharge business insights
url                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             https://apexapps.oracle.com/pls/apex/r/dbpm/livelabs/run-workshop?p210_wid=882
type                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  Hands-on
desc              In this workshop you will learn how to get started with MySQL HeatWave on Oracle Cloud Infrastructure (OCI). You will learn how to create a MySQL HeatWave instance, connect to the cluster using MySQL Shell and OCI Cloud Shell, and run queries, analytic workloads, and machine learning applications with HeatWave. You will experience for yourself how MySQL HeatWave’s massively parallel, in-memory query accelerator with machine learning-powered automation can accelerate your database applications by orders of magnitude, enabling you to make informed business critical decisions with real-time insights.
duration                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               4 hours
published_time                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2019-04-08 18:47:09
title_ko                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      MySQL HeatWave로 시작하여 비즈니스 통찰력 강화
desc_ko                                                                                                                                                                                                                                                                              이 워크숍에서는 OCI(Oracle Cloud Infrastructure)에서 MySQL HeatWave를 시작하는 방법을 알아봅니다. MySQL HeatWave 인스턴스를 생성하고 MySQL 셸 및 OCI Cloud Shell을 사용하여 클러스터에 연결하며 HeatWave으로 쿼리, 애널리틱스 워크로드 및 머신 러닝 애플리케이션을 실행하는 방법을 알아봅니다. MySQL 머신 러닝 기반 자동화를 통한 HeatWave의 대규모 병렬 인메모리 쿼리 가속기가 데이터베이스 애플리케이션을 수십 배 가속화하여 실시간 인사이트를 통해 정보에 기반한 중요한 비즈니스 의사 결정을 내릴 수 있는 방법을 직접 경험할 수 있습니다.
duration_ko                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                4시간
oci_products                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                heatwave,mysql shell,oci cloud shell,turbocharge,oci,machine learning applications
key_phrase                                                                                                                                                                                                                                                                                                                                                                                                             mysql heatwave,turbocharge business,oracle cloud infrastructure,mysql heatwave instance,using mysql shell,oci cloud shell,analytic workloads,machine learning applications,mysql heatwave's,in-memory query accelerator
Name: 237, dtype: object

id                                                                                                                                           3343
title                                                                                                   Use OCI Streaming as Managed Kafka server
url                                                               https://apexapps.oracle.com/pls/apex/r/dbpm/livelabs/run-workshop?p210_wid=3343
type                                                                                                                                     Hands-on
desc              In this workshop, - you will create a Stream in Oracle Streaming - produce and consume message from it from a Java Kafka client
duration                                                                                                                               30 minutes
published_time                                                                                                                2021-05-12 15:28:30
title_ko                                                                                                          OCI Streaming을 관리형 Kafka 서버로 사용
desc_ko                                                               이 워크샵에서는 Oracle Streaming에 Stream을 생성하여 Java Kafka 클라이언트에서 메시지를 생성하고 사용합니다.
duration_ko                                                                                                                                   30분
oci_products                                                                                                                                kafka
key_phrase                                                                   managed kafka,oracle streaming,java kafka client,produce,message,oci
Name: 580, dtype: object

id                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      807

<a id='clean_up'></a>
# Clean Up

이 노트북은 모델 배포와 모델을 만들었습니다. 이 섹션에서는 해당 리소스를 정리합니다.

모델을 삭제하려면 먼저 모델 배포를 삭제해야 합니다. 이를 수행하려면 `SklearnModel` 개체에서 `.delete_deployment()` 메서드를 사용합니다.

In [22]:
delete = sklearn_model.delete_deployment(wait_for_completion=True)

loop1:   0%|          | 0/2 [00:00<?, ?it/s]

모델 배포가 삭제된 후 `.summary_status()` 메서드는 모델이 삭제되었고 `predict()` 메서드를 사용할 수 없음을 보여줍니다.

In [23]:
sklearn_model.summary_status()

                                                                            Actions Needed
Step      Status        Details
initiate  Done          Initiated the model
prepare() Done          Generated runtime.yaml
                        Generated score.py
                        Serialized model
                        Populated metadata(Custom, Taxonomy and Provenance)
verify()  Done          Local tested .predict from score.py
save()    Done          Conducted Introspect Test
                        Uploaded artifact to model catalog
deploy()  DELETED       Deployed the model
predict() Not Available Called deployment predict endpoint

`.delete()` 메서드를 사용하여 모델을 삭제합니다.

In [24]:
sklearn_model.delete()

In [27]:
import requests
import oci
from oci.signer import Signer

In [28]:
uri = f"https://modeldeployment.ap-seoul-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-seoul-1.amaaaaaavsea7yiaeagi3me4tdy4x4xy5thiw5hj6srm5empuzw7lfwbcyaa/predict"
print(uri)

https://modeldeployment.ap-seoul-1.oci.customer-oci.com/ocid1.datasciencemodeldeployment.oc1.ap-seoul-1.amaaaaaavsea7yiaeagi3me4tdy4x4xy5thiw5hj6srm5empuzw7lfwbcyaa/predict

In [30]:
# Using Resource principal to authenticate against the model endpoint. Set using_rps=False if you are using 
# the config+key flow. 
using_rps = True

# payload: 
input_data = trainx[5:25].to_json()

if using_rps: # using resource principal:     
    auth = oci.auth.signers.get_resource_principals_signer()
else: # using config + key: 
    config = oci.config.from_file("~/.oci/config") # replace with the location of your oci config file
    auth = Signer(
        tenancy=config['tenancy'],
        user=config['user'],
        fingerprint=config['fingerprint'],
        private_key_file_location=config['key_file'],
        pass_phrase=config['pass_phrase'])

In [31]:
%%time
    
# submit request to model endpoint: 
response = requests.post(uri, json=input_data, auth=auth)

CPU times: user 14.8 ms, sys: 2.66 ms, total: 17.5 ms
Wall time: 108 ms

In [32]:
assert response.status_code == 200, 'Error'

In [33]:
print(json.loads(response.content))

{'prediction': [0, 8, 3, 8, 7, 0, 2, 7, 4, 0, 10, 0, 6, 0, 0, 6, 6, 6, 8, 8]}

<a id='ref'></a>
# References
- [ADS Library Documentation](https://accelerated-data-science.readthedocs.io/en/latest/index.html)
- [Data Science YouTube Videos](https://www.youtube.com/playlist?list=PLKCk3OyNwIzv6CWMhvqSB_8MLJIZdO80L)
- [OCI Data Science Documentation](https://docs.cloud.oracle.com/en-us/iaas/data-science/using/data-science.htm)
- [Oracle Data & AI Blog](https://blogs.oracle.com/datascience/)
- [Understanding Conda Environments](https://docs.cloud.oracle.com/en-us/iaas/data-science/using/use-notebook-sessions.htm#conda_understand_environments)
- [Use Resource Manager to Configure Your Tenancy for Data Science](https://docs.cloud.oracle.com/en-us/iaas/data-science/using/orm-configure-tenancy.htm)
- [`runtime.yaml`](https://docs.content.oci.oracleiaas.com/en-us/iaas/data-science/using/model_runtime_yaml.htm#model_runtime_yaml)
- [`score.py`](https://docs.content.oci.oracleiaas.com/en-us/iaas/data-science/using/model_score_py.htm#model_score_py)
- [Model artifact](https://docs.content.oci.oracleiaas.com/en-us/iaas/data-science/using/models_saving_catalog.htm#create-models)
- [ONNX API Summary](http://onnx.ai/sklearn-onnx/api_summary.html)